
  .non-focus {
font-size: 24px;
line-height: 34px;
transition: all 0.8s ease-in-out;
}

      body {
        background-image: url('./assets/photography/brookly_bridge_side.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .box{
        width:25%;
      }
      .top{
        border: 3px solid #ff9f1c;
        position:fixed;
        top: 50%;
        left: 37.5%;
        text-align: center;
        background: white;
        outline: 10px solid white;
      }
      .container{
        position:relative;
      }
      #name{
        font-size: 50px;
        font-family: Phosphate;
        color: #3d405b;
        display: inline-block;
      }
      .iconsize{
        color: #e71d36;
        font-size: 24px;
      }
      #bio{
        background-color: #2ec4b6;
      }
      #experience{
        background-color: #011627;
      }
      #exp {
        background-color: #2ec4b6;
      }
      #skill{
        background-color: #011627;
      }

      .intro{
        min-height: 100%;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: -99;
      }

      .panels {
        position:relative;
        min-height:100%;
        width:100%;
        z-index:900;
      }

     .wrapper {
       position: absolute;
       height:100%;
       width: 100%;
     }
     .intro_img{
       position:relative;
       left: 60%;
       float:right;
     }

     .text_box{
       background-color: #fdfffc;
        position: absolute;
        width: 40%;
        height: 90%;
        text-align: left;
        left: 10%;
        padding: 5%;
        border: 3px solid #ff9f1c;
        outline: 10px solid #fdfffc;
     }

     .boxy-container{
      min-height:100vh;
      margin:0;
      font-family: 'Droid Sans', sans-serif;
      position: relative;
      width: 100%;
     }

     .bio_text{
       font-size: 2vw;
       position: relative;
       font-family: sans-serif;
       width: 53%;
       text-align: left;

     }
     .bio_text_small{
       font-size: 1vw;
       position: relative;
       font-family: sans-serif;
       width:53%;
       text-align: left;

     }

     .white {
       color: white;
     }
     .title {
       font-size: 20px;
       text-transform: uppercase;
       font-family: Arial,Helvetica,sans-serif;
       text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
       color: white;
       font-weight: 300;
       line-height: 58px; margin: 0 0 2%;
       position: sticky;
        padding-left: 5%;
        padding-top: 5%;
        height: 5%;
        width: 100%;
     }

     .timeline{
       width:100%;
       max-width:800px;
       margin:auto;
       position: relative;

     }
     .point{
        width:calc(50% - 80px);
        float:left;
        padding:2%;
        clear:both;
        text-align:right;
        position: relative;

        &:not(:first-child) {
          margin-top:-60px;
        }
     }
     .date {
        font-size:32px;
        margin-bottom:12px;
        position: relative;
        color:#fff;
      }
      .date::before {
          content: '';
          position: absolute;
          width:14px;
          height:14px;
          border:4px solid #ffffff;
          background-color:#1D1D1D;
          border-radius:100%;
          top:50%;
          right:-36%;
          z-index:1000;
        }
      .big::before {
          width:24px;
          height:24px;

      }

      .pointContent{
        color:#2ec4b6;
        position: relative;
        p {
          line-height:1.4em;
        }
      }
      .point:nth-child(2n){
        text-align:left;
        float:right;
        .date{
          .date::before{
            left: 10%;
          }
        }
      }

      .left::before{
        left: -37%;
      }


      .div_appear{
        animation: appear 4s;
      }

      @keyframes appear {
        0% {
          opacity: 0%;
        }

        100% {
          opacity: 100%;
        }
      }

      .timeline-container{
        min-height:100vh;
        margin-bottom: 10%;
        font-family: 'Droid Sans', sans-serif;
        position: relative;
        width: 100%;
      }

      .timeline-container:before {
          content: '';
          position: absolute;
          top:0px;
          left:50%;
          bottom:0px;
          width:4px;
          background-color:#fff;
          border-radius: 25px;
      }

      #introbox {
        width: 100%;
      }

      li{
        list-style-type: none;
      }

      img {
          width: 30%;
      }

      #navmenu {
        right: 10px;
        top: 84%;
        margin-top: -50px;
        height: 100px;
        z-index: 999;
        position: fixed;
        width: 1%;
      }

      #navmenu ul {
        	list-style: none;
        	margin:0;
        	padding: 0;
        }

        #navmenu li {
        	position: relative;
        	background-color: #bdc3c7;
        	/*border:3px solid #8e44ad;*/
        	border-radius: 15px 15px 15px 15px;
        	cursor: pointer;
        	padding: 5px;
        	height: 10px;
        	margin: 10px 10px 0px 0px;
        	width: 10px;
        	vertical-align:bottom;
        }

        #navmenu li.active, #navmenu li:hover {
        	background-color: #E71D36;
        }

        #navmenu a {
        	outline: 0;
        	vertical-align:top;
        	margin: 0px 0px 0px 25px;
        	position: relative;
        	top:-5px;
        }

        #navmenu li.active, #navmenu li:hover {
          	background-color: #E71D36;
          }

          .awesome-tooltip + .tooltip > .tooltip-inner {
              /*background-color: #8e44ad;*/
              color: #f5f5f5;
              border: 1px solid #8e44ad;
          }
          .awesome-tooltip + .tooltip.left > .tooltip-arrow{
              top:50%;
              right:0;
              margin-top:-5px;
              border-top:5px solid transparent;
              border-bottom:5px solid transparent;
              border-left:5px solid #8e44ad;
          }


      .black {
        background-color: black;
            }


      .text_left{
        text-align: left;
        font-style: italic;
        color: #7d869c;
      }


.exp_card{
  width: 25%;
  /* height: auto; */
  border-bottom: dotted;
  left: 7.5%;
  position: relative;
  text-align: center;
  border-color: #FFFAE3;
  margin-bottom: 2%;
  background-color: #fdfffc;
  margin-right: 5%;
  border: 3px solid #ff9f1c;
  outline: 10px solid #fdfffc;
  padding: 2%;
}


.card_animate{

  animation: card_appear 2s;
}

@keyframes card_appear {
  0% {
    opacity: 0%;
    transform: translateY(5%);
  }

  100% {
    opacity: 100%;
  }
}

.graph_set {
  width: 50%;
  margin: 0 auto;
}
.bar {
  background: #e71d36;
  width: 0;
  margin: .75em 0;
  color: #fff;
  position: relative;
  transition: width 2s, background .2s;
  -webkit-transform: translate3d(0, 0, 0);
  clear: both;
}

.bar .label {
  font-size: .75em;
  width: 8em;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
  text-align: right;
  right: 10em;
}
.bar .label.second {
  background: #333;
}
.count {
  position: absolute;
  right: .25em;
  top: .75em;
  padding: .15em;
  font-size: .75em;
  font-weight: bold;
}

.card_img{
  margin-top: 8%;
  margin-bottom: 8%;
}
@media screen and (max-width: 800px) {
  .exp_card {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .exp_card {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .intro_img{
    display:none;
  }

}

.graph_title{
  font-size: 24px;
text-transform: uppercase;
font-family: Arial,Helvetica,sans-serif;
width: 100%;
text-align: center;
color: white;
margin-bottom: 2%;

}

.holder{
  margin-bottom: 5%;
}

.contactInfo{
  padding-left: 2%;
}
